ul.pagination-align {
  margin: 0 auto;
  background: none !important;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.pagination-item {
  background: none;
}

.pagination-link {
  background: none;
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: white;

  border: 1px solid #dee2e6;
}
