.login-form-select {
  position: absolute;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.css-e56m7-control {
  background: none !important;
  background-color: none !important;
}

.css-1uccc91-singleValue {
  color: #ffffff !important;
}
